/CODEOWNERS  @RuminaYuki

# RuminaYuki code
/Assets/Scripts/Character/General/LocomotionSystem/ @RuminaYuki
/Assets/Scripts/Character/General/AttackToken/ @RuminaYuki
/Assets/Scripts/Character/General/PairedAnimationSystem/ @RuminaYuki
/Assets/Scripts/Character/General/HealthDamageSystem/ @RuminaYuki
/Assets/Scripts/Character/General/LineOfSight.cs @RuminaYuki

/Assets/Scripts/CoreSystem/StateMachineCore/ @RuminaYuki
/Assets/Scripts/CoreSystem/PathFinding/ @RuminaYuki

/Assets/Scripts/GamePlay/Navigation/ @RuminaYuki